/node_modules
/public/hot
/public/images/*
/images
/public/storage
/storage/*.key
/storage/app/
/storage/framework/
/storage/logs/
composer.lock
/vendor
.env
#.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/tmp/uploads/


