openapi: 3.0.3
info:
  title: 'Drone Api Docs'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://thedroningcompany.1rise.com/dron/droningproject'
paths:
  /api/v1/login:
    post:
      summary: 'Login Api.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `401` error, and a response invalid credentials"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'User data fetch successfully'
                  data:
                    id: 1
                    first_name: Admin
                    last_name: admin
                    email: admin@admin.com
                    slug: null
                    roles:
                      -
                        id: 1
                        title: Admin
                  access_token: 42|WBh8auQX8LItsHokZAHplNmnu5zYFGsVEEXWaBpj
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'User data fetch successfully'
                  data:
                    type: object
                    example:
                      id: 1
                      first_name: Admin
                      last_name: admin
                      email: admin@admin.com
                      slug: null
                      roles:
                        -
                          id: 1
                          title: Admin
                  access_token:
                    type: string
                    example: 42|WBh8auQX8LItsHokZAHplNmnu5zYFGsVEEXWaBpj
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 401
                  message: 'Invalid Login credentials or data does not exists in our records'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Invalid Login credentials or data does not exists in our records'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: example@domain.com
                password:
                  type: string
                  description: 'The password of the user.'
                  example: secret
              required:
                - email
                - password
      security: []
  /api/v1/register/pilot:
    post:
      summary: 'Pilot Registration.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the validation request will fail with a `400` error, and a response based on failed attribute"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'Registration successfully completed'
                  data:
                    id: 67
                    first_name: Test65
                    last_name: 'Last name'
                    email: d67@gmail.com
                    slug: test65-last-name
                    is_agreed: 1
                    is_email_subscribed: 0
                    plans:
                      -
                        plan_id: price_1JTKEdBbrKa9p7qI48PLqu3p
                        plan_name: daily_plan
                        plan_amount: '2'
                      -
                        plan_id: price_1JTKIqBbrKa9p7qIPYhDg2ce
                        plan_name: weekly_plan_1
                        plan_amount: '9'
                    roles:
                      -
                        id: 3
                        title: Pilot
                  access_token: 43|tsFnIrz61XBVEZvKdrTULZGJwaJlg6KOHYZoWp8L
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Registration successfully completed'
                  data:
                    type: object
                    example:
                      id: 67
                      first_name: Test65
                      last_name: 'Last name'
                      email: d67@gmail.com
                      slug: test65-last-name
                      is_agreed: 1
                      is_email_subscribed: 0
                      plans:
                        -
                          plan_id: price_1JTKEdBbrKa9p7qI48PLqu3p
                          plan_name: daily_plan
                          plan_amount: '2'
                        -
                          plan_id: price_1JTKIqBbrKa9p7qIPYhDg2ce
                          plan_name: weekly_plan_1
                          plan_amount: '9'
                      roles:
                        -
                          id: 3
                          title: Pilot
                  access_token:
                    type: string
                    example: 43|tsFnIrz61XBVEZvKdrTULZGJwaJlg6KOHYZoWp8L
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 400
                  message: 'Required Field missing'
                  data:
                    email:
                      - 'The email has already been taken.'
                properties:
                  stausCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'Required Field missing'
                  data:
                    type: object
                    example:
                      email:
                        - 'The email has already been taken.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: ''
                  example: nesciunt
                email:
                  type: string
                  description: 'The email of the user.'
                  example: example@domain.com
                password:
                  type: string
                  description: 'The password of the user.'
                  example: secret
                mobile:
                  type: string
                  description: ''
                  example: null
                is_agreed:
                  type: boolean
                  description: ''
                  example: false
                is_email_subscribed:
                  type: boolean
                  description: ''
                  example: true
                hear_about_us:
                  type: string
                  description: ''
                  example: harum
              required:
                - first_name
                - email
                - password
                - is_agreed
                - is_email_subscribed
                - hear_about_us
      security: []
  /api/v1/register/user:
    post:
      summary: 'User Registration.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the validation request will fail with a `400` error, and a response based on failed attribute"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'Registration successfully completed'
                  data:
                    id: 13
                    first_name: 'md asdasdas'
                    last_name: 'saif sas'
                    email: s@oudddtsslook.com
                    slug: md-asdasdas-saif-sas
                    is_agreed: '0'
                    is_email_subscribed: '0'
                    roles:
                      -
                        id: 3
                        title: pilot
                  access_token: 43|tsFnIrz61XBVEZvKdrTULZGJwaJlg6KOHYZoWp8L
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Registration successfully completed'
                  data:
                    type: object
                    example:
                      id: 13
                      first_name: 'md asdasdas'
                      last_name: 'saif sas'
                      email: s@oudddtsslook.com
                      slug: md-asdasdas-saif-sas
                      is_agreed: '0'
                      is_email_subscribed: '0'
                      roles:
                        -
                          id: 3
                          title: pilot
                  access_token:
                    type: string
                    example: 43|tsFnIrz61XBVEZvKdrTULZGJwaJlg6KOHYZoWp8L
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 400
                  message: 'Required Field missing'
                  data:
                    email:
                      - 'The email has already been taken.'
                properties:
                  stausCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'Required Field missing'
                  data:
                    type: object
                    example:
                      email:
                        - 'The email has already been taken.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: ''
                  example: et
                email:
                  type: string
                  description: 'The email of the user.'
                  example: example@domain.com
                password:
                  type: string
                  description: 'The password of the user.'
                  example: secret
                is_agreed:
                  type: boolean
                  description: ''
                  example: false
                is_email_subscribed:
                  type: boolean
                  description: ''
                  example: true
                hear_about_us:
                  type: string
                  description: ''
                  example: dicta
              required:
                - first_name
                - email
                - password
                - is_agreed
                - is_email_subscribed
                - hear_about_us
      security: []
  /api/v1/user/step2:
    post:
      summary: 'User Registration Step2.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `400` error, and a response\n(`Invalid token` or `mismatch token`).\n\n\n<aside class=\"warning\">3rd party payment gateway involved here</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'User 2nd step registration successfully completed'
                  data:
                    user_id: 1
                    plan_id: 1
                    start_date: '2021-06-11 00:00:00'
                    end_date: '2021-07-11 00:00:00'
                    status: true
                    is_trial_period: false
                    updated_at: '2021-06-11 11:29:10'
                    created_at: '2021-06-11 11:29:10'
                    id: 7
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'User 2nd step registration successfully completed'
                  data:
                    type: object
                    example:
                      user_id: 1
                      plan_id: 1
                      start_date: '2021-06-11 00:00:00'
                      end_date: '2021-07-11 00:00:00'
                      status: true
                      is_trial_period: false
                      updated_at: '2021-06-11 11:29:10'
                      created_at: '2021-06-11 11:29:10'
                      id: 7
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 400
                  message: 'mismatch token'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'mismatch token'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: 'The id of the user.'
                  example: 10
                payment_id:
                  type: string
                  description: ''
                  example: quam
                payment_refrence:
                  type: string
                  description: ''
                  example: voluptates
                plan_amount:
                  type: integer
                  description: ''
                  example: 49
                final_pay:
                  type: integer
                  description: ''
                  example: 49
                plan_id:
                  type: integer
                  description: 'right know it''s a fixed value `1`.'
                  example: 1
                coupon_code:
                  type: string.
                  description: ''
                  example: 'null'
                coupon_discount_amount:
                  type: integer
                  description: ''
                  example: 0
              required:
                - user_id
                - payment_id
                - payment_refrence
                - plan_amount
                - final_pay
                - plan_id
  /api/v1/coupon/verify:
    post:
      summary: 'Verify Coupon Code.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `401` or `400` error, and a response\n(`required field validation` or `Invalid coupon code`)"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"stausCode\": 200,\n\"message\": \"coupon apply successfully\",\n\"data\": {\n\"discount_amount\": 4.9,\n}\n}"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 401
                  message: 'Invalid coupon code'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'Invalid coupon code'
                  data:
                    type: array
                    example: []
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 400
                  message: 'Required Field missing'
                  data:
                    coupon_code:
                      - 'The coupon code field is required.'
                properties:
                  stausCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'Required Field missing'
                  data:
                    type: object
                    example:
                      coupon_code:
                        - 'The coupon code field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon_code:
                  type: string
                  description: ''
                  example: ut
                coupon_plan_id:
                  type: string
                  description: ''
                  example: odit
              required:
                - coupon_code
                - coupon_plan_id
      security: []
  /api/v1/blog-categories:
    get:
      summary: 'Blog Categories.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response blog categories not found"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"stausCode\": 200,\n\"message\": \"blog category fetch successfully\",\n\"data\": {\n\"id\": 70,\n\"title\": \"Category 7\",\n\"slug\": \"category-7\",\n\"post_count\": 3\n},\n{\n\"id\": 71,\n\"title\": \"Category 8\",\n\"slug\": \"category-8\",\n\"post_count\": 1\n},\n{\n\"id\": 72,\n\"title\": \"Category 9\",\n\"slug\": \"category-9\",\n\"post_count\": 4\n},\n{\n\"id\": 73,\n\"title\": \"Category 10\",\n\"slug\": \"category-10\",\n\"post_count\": 1\n}\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'blog category not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'blog category not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/recentblogpost:
    get:
      summary: 'Recent Blog Post.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response recent blog post not found!"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'recent blog post fetch successfully'
                  data:
                    -
                      id: 121
                      title: 'Velit qui soluta iste sed et odit natus.'
                      image: 'http://local.drone/images/blog/resize/1623221514-76x80.jpg'
                      slug: laboriosam-eligendi-repellendus-eos-recusandae-est-quo
                    -
                      id: 120
                      title: 'Quis sequi placeat est.'
                      image: 'http://local.drone/images/blog/resize/1623221514-76x80.jpg'
                      slug: quasi-non-nihil-omnis-ipsam-atque
                    -
                      id: 119
                      title: 'Dicta ipsum quam minima.'
                      image: 'http://local.drone/images/blog/resize/1623221514-76x80.jpg'
                      slug: architecto-et-reprehenderit-incidunt-omnis
                    -
                      id: 118
                      title: 'Et aut et ipsa eveniet.'
                      image: 'http://local.drone/images/blog/resize/1623221514-76x80.jpg'
                      slug: veniam-commodi-velit-voluptatibus-totam-mollitia-vel
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'recent blog post fetch successfully'
                  data:
                    type: array
                    example:
                      -
                        id: 121
                        title: 'Velit qui soluta iste sed et odit natus.'
                        image: 'http://local.drone/images/blog/resize/1623221514-76x80.jpg'
                        slug: laboriosam-eligendi-repellendus-eos-recusandae-est-quo
                      -
                        id: 120
                        title: 'Quis sequi placeat est.'
                        image: 'http://local.drone/images/blog/resize/1623221514-76x80.jpg'
                        slug: quasi-non-nihil-omnis-ipsam-atque
                      -
                        id: 119
                        title: 'Dicta ipsum quam minima.'
                        image: 'http://local.drone/images/blog/resize/1623221514-76x80.jpg'
                        slug: architecto-et-reprehenderit-incidunt-omnis
                      -
                        id: 118
                        title: 'Et aut et ipsa eveniet.'
                        image: 'http://local.drone/images/blog/resize/1623221514-76x80.jpg'
                        slug: veniam-commodi-velit-voluptatibus-totam-mollitia-vel
                    items:
                      type: object
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'recent blog post not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'recent blog post not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  '/api/v1/blog/{slug}':
    get:
      summary: 'Single Blog Post.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response blog post not found!"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'blog post detail fetch successfully'
                  data:
                    id: 71
                    title: 'Et deserunt voluptatibus quia vel rerum quis ut qui.'
                    image: 'http://local.drone/images/blog/1623221514.jpg'
                    excerpt: 'Aut repellat ut exercitationem amet repellendus pariatur culpa voluptatem. Soluta quis aspernatur eius corrupti sint sunt.'
                    description: 'Ut a incidunt rerum debitis id dolorum. Ratione ipsa cumque explicabo libero asperiores earum quo. Odio error minus aliquam. Culpa eius incidunt quia temporibus porro quae. Id aspernatur nobis tempora ducimus id aut veritatis. Porro eveniet voluptas sit perferendis voluptatem. Sed dolorum quo beatae et provident dignissimos. Ullam consequatur doloremque consequatur animi nisi. Sapiente et aut voluptatem laudantium nesciunt. Totam eius fugit modi. Est sed et quo ab. Dolores quam et officiis eum officiis qui nisi. Qui ut sunt vitae nesciunt aut esse. Eius cum non quo.'
                    slug: velit-suscipit-commodi-maiores-qui-et
                    meta_keyword: necessitatibus
                    meta_description: 'Aut excepturi ut optio ad culpa maiores laudantium. Fugiat cum et velit ex ea in fugit non.'
                    blog_categories:
                      -
                        title: nisi
                      -
                        title: 'Est deleniti ut reprehenderit facere qui et.'
                      -
                        title: 'Illo sunt aut et sed aut enim.'
                      -
                        title: 'Est deleniti ut reprehenderit facere qui et.'
                      -
                        title: 'Rerum ullam vel recusandae deleniti necessitatibus et.'
                      -
                        title: 'Category 7'
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'blog post detail fetch successfully'
                  data:
                    type: object
                    example:
                      id: 71
                      title: 'Et deserunt voluptatibus quia vel rerum quis ut qui.'
                      image: 'http://local.drone/images/blog/1623221514.jpg'
                      excerpt: 'Aut repellat ut exercitationem amet repellendus pariatur culpa voluptatem. Soluta quis aspernatur eius corrupti sint sunt.'
                      description: 'Ut a incidunt rerum debitis id dolorum. Ratione ipsa cumque explicabo libero asperiores earum quo. Odio error minus aliquam. Culpa eius incidunt quia temporibus porro quae. Id aspernatur nobis tempora ducimus id aut veritatis. Porro eveniet voluptas sit perferendis voluptatem. Sed dolorum quo beatae et provident dignissimos. Ullam consequatur doloremque consequatur animi nisi. Sapiente et aut voluptatem laudantium nesciunt. Totam eius fugit modi. Est sed et quo ab. Dolores quam et officiis eum officiis qui nisi. Qui ut sunt vitae nesciunt aut esse. Eius cum non quo.'
                      slug: velit-suscipit-commodi-maiores-qui-et
                      meta_keyword: necessitatibus
                      meta_description: 'Aut excepturi ut optio ad culpa maiores laudantium. Fugiat cum et velit ex ea in fugit non.'
                      blog_categories:
                        -
                          title: nisi
                        -
                          title: 'Est deleniti ut reprehenderit facere qui et.'
                        -
                          title: 'Illo sunt aut et sed aut enim.'
                        -
                          title: 'Est deleniti ut reprehenderit facere qui et.'
                        -
                          title: 'Rerum ullam vel recusandae deleniti necessitatibus et.'
                        -
                          title: 'Category 7'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'blog post not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'blog post not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: slug
        description: ''
        example: 15
        required: true
        schema:
          type: integer
  /api/v1/blogs:
    get:
      summary: 'Blog Post listing.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response blog post not found!\n\n\n\n<aside class=\"success\">This api also work on search or filter as query string For Example </aside>\n\n<aside class=\"notice\">basepath/api/v1/blogs?q=some desired keywords.</aside>\n\n\n<aside class=\"notice\">basepath/api/v1/blogs?category='category-slug from category api'.</aside>"
      parameters:
        -
          in: query
          name: '?q'
          description: 'Filter by desired keyword. Example ?q=some desired keywords.'
          example: quae
          required: false
          schema:
            type: string
            description: 'Filter by desired keyword. Example ?q=some desired keywords.'
            example: quae
        -
          in: query
          name: '?category'
          description: 'Filter by category slug. Example ?category=category-1.'
          example: quas
          required: false
          schema:
            type: string
            description: 'Filter by category slug. Example ?category=category-1.'
            example: quas
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"stausCode\": 200,\n\"message\": \"blog post fetch successfully\",\n\"data\": {\n\"current_page\": 1,\n\"data\": [\n{\n\"id\": 121,\n\"title\": \"Velit qui soluta iste sed et odit natus.\",\n\"image\": \"http://local.drone/images/blog/resize/1623221514-520x390.jpg\",\n\"excerpt\": \"Sint officiis facere aperiam voluptas ut voluptatum. Nostrum quisquam placeat nobis fugiat eum ut.\",\n\"description\": \"Expedita deserunt commodi eos labore. Quam minima molestias quia fugiat illo iure. Incidunt laboriosam et sit et. Quis neque consequatur error rerum. Accusamus a repellendus possimus culpa ex voluptas aspernatur rem. Reprehenderit dignissimos explicabo accusantium sint dicta sed similique. Eos quasi dolore nulla. Cupiditate aspernatur dolorem dolor veniam fugit. Numquam tempora qui nobis veniam. Aliquam hic consequuntur molestiae fuga. Dolores laborum vel quibusdam sequi in ipsa.\",\n\"slug\": \"laboriosam-eligendi-repellendus-eos-recusandae-est-quo\",\n\"blog_categories\": []\n},\n],\n\"first_page_url\": \"http://local.drone/api/v1/blogs?page=1\",\n\"from\": 1,\n\"next_page_url\": \"http://local.drone/api/v1/blogs?page=2\",\n\"path\": \"http://local.drone/api/v1/blogs\",\n\"per_page\": 10,\n\"prev_page_url\": null,\n\"to\": 10\n}\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'blog post not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'blog post not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/pilot/feature:
    get:
      summary: 'featured Pilot Profile.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response featured pilot not found!\n\n\n<aside class=\"info\">This api will used in <br> 1. Blog Listing <br> 2. Blog Detail <br>3.Category Page</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"stausCode\": 200,\n\"message\": \"featured Profile fetch successfully\",\n\"data\": [\n{\n\"pilot_profile_id\": 691,\n\"user_id\": 184,\n\"name\": \"Devin Ullrich\",\n\"title\": \"itaque\",\n\"slug\": \"omnis-ad-sunt-consequatur-dolorum-aut-quia-quis\",\n\"short_description\": \"<p>magnam<\\/p>\",\n\"image\": \"http:\\/\\/local.drone\\/pilotseed.png\",\n\"skills\": \"Videography,Video Editing\"\n},\n{\n\"pilot_profile_id\": 692,\n\"user_id\": 185,\n\"name\": \"Maximus Keeling\",\n\"title\": \"eveniet\",\n\"slug\": \"eos-quae-iure-necessitatibus-excepturi-delectus-alias-aut\",\n\"short_description\": \"dolorem\",\n\"image\": \"http:\\/\\/local.drone\\/pilotseed.png\",\n\"skills\": \"Videography\"\n},\n]\n\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'featured Profile not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'featured Profile not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/states:
    get:
      summary: 'States .'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response States not found!\n\n\n<aside class=\"notice\">basepath/api/v1/states.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"stausCode\": 200,\n\"message\": \"States fetch successfully\",\n\"data\": [\n{\n\"id\": 1,\n\"name\": \"Badakhshan\"\n},\n{\n\"id\": 2,\n\"name\": \"Badghis\"\n},\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'States not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'States not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/gear-reviews:
    get:
      summary: 'Gear Reviews .'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response Gear reviews not found!\n\n\n<aside class=\"notice\">basepath/api/v1/gear-reviews.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'Gear reviews fetch successfully'
                  data:
                    -
                      name: 'Nell Ortiz'
                      video: 'https://www.youtube.com/watch?v=TYaNfLLOLNY'
                      video_key: TYaNfLLOLNY
                    -
                      name: 'Paula Melton'
                      video: 'https://www.youtube.com/watch?v=65414321654'
                      video_key: '65414321654'
                    -
                      name: 'Quin Garrison'
                      video: 'https://www.youtube.com/watch?v=9nsZmvkRfj4'
                      video_key: 9nsZmvkRfj4
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Gear reviews fetch successfully'
                  data:
                    type: array
                    example:
                      -
                        name: 'Nell Ortiz'
                        video: 'https://www.youtube.com/watch?v=TYaNfLLOLNY'
                        video_key: TYaNfLLOLNY
                      -
                        name: 'Paula Melton'
                        video: 'https://www.youtube.com/watch?v=65414321654'
                        video_key: '65414321654'
                      -
                        name: 'Quin Garrison'
                        video: 'https://www.youtube.com/watch?v=9nsZmvkRfj4'
                        video_key: 9nsZmvkRfj4
                    items:
                      type: object
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'Gear reviews not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Gear reviews not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/news-subscribe:
    post:
      summary: 'News Subscription.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response Required Field missing!\n\n\n<aside class=\"notice\">basepath/api/v1/news-subscribe.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'Successfully news subscribed'
                  data:
                    email: test@gmail.com
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Successfully news subscribed'
                  data:
                    type: object
                    example:
                      email: test@gmail.com
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 400
                  message: 'Required Field missing'
                  data:
                    email:
                      - 'The email field is required.'
                properties:
                  stausCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'Required Field missing'
                  data:
                    type: object
                    example:
                      email:
                        - 'The email field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: test@domain.com
              required:
                - email
      security: []
  /api/v1/search:
    post:
      summary: 'Search Result.'
      description: "If everything is okay,you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a Pilot not found!\n\n\n<aside class=\"notice\">basepath/api/v1/search.</aside>"
      parameters:
        -
          in: query
          name: '?zip'
          description: 'Example ?zip=zip code Example 110044.'
          example: ad
          required: false
          schema:
            type: string
            description: 'Example ?zip=zip code Example 110044.'
            example: ad
        -
          in: query
          name: '?state'
          description: 'Example ?state=state_id Example 83..'
          example: autem
          required: false
          schema:
            type: string
            description: 'Example ?state=state_id Example 83..'
            example: autem
        -
          in: query
          name: '?city'
          description: 'Example ?country=country_id Example 99..'
          example: 9
          required: false
          schema:
            type: integer
            description: 'Example ?country=country_id Example 99..'
            example: 9
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"stausCode\": 200,\n\"message\": \"Pilot Search result fetch successfully\",\n\"data\": {\n\"current_page\": 1,\n\"data\": [\n{\n\"title\": \"Minim nostrum molest\",\n\"slug\": \"lionel-moss\",\n\"short_description\": \"<p>short description</p>\",\n\"is_certified\": \"No\",\n\"travel_option\": \"No\",\n\"is_featured\": \"No\",\n\"address_line1\": \"47 South Old Drive\",\n\"address_line2\": \"Ab deserunt et maior\",\n\"city\": \"Magnam in ad ut null\",\n\"zip\": \"92748\",\n\"state\": \"Anglesey\"\n},\n{\n\"title\": \"Minim nostrum molest\",\n\"slug\": \"lionel-moss\",\n\"short_description\": \"<p>short description</p>\",\n\"is_certified\": \"No\",\n\"travel_option\": \"No\",\n\"is_featured\": \"No\",\n\"address_line1\": \"156 North Rocky New Road\",\n\"address_line2\": \"Quo vel similique ut\",\n\"city\": \"Eaque eum inventore\",\n\"zip\": \"841301\",\n\"state\": \"Bihar\"\n},\n\n],\n\"first_page_url\": \"http://local.drone/api/v1/search?page=1\",\n\"from\": 1,\n\"next_page_url\": \"http://local.drone/api/v1/search?page=2\",\n\"path\": \"http://local.drone/api/v1/search\",\n\"per_page\": 10,\n\"prev_page_url\": null,\n\"to\": 10\n}\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'Pilot Search not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Pilot Search not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/home/featured-blog:
    get:
      summary: 'Home Feature Blog Post.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response recent featured blog post not found!"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'featured blog post fetch successfully'
                  data:
                    -
                      id: 113
                      title: 'Placeat rerum tempore est explicabo debitis repellendus.'
                      image: 'http://local.drone/images/blog/1623221514.jpg'
                      excerpt: 'Sapiente magnam dolores illum totam qui. Velit sed est aliquam sed.'
                      description: '<p>Error est quo cumque. Amet est qui iste dolor laborum. Quia asperiores assumenda labore dolor. Ut sed nulla et quasi et voluptatem aut. Illum incidunt libero ratione et nobis nulla. Fugit quisquam et dolores occaecati dolorem. Ut consectetur laboriosam voluptate sit nesciunt accusantium. Molestiae voluptatem iste omnis culpa culpa. Fugit est ipsa voluptas omnis odio ut hic. Dolores aut ut reprehenderit numquam sunt. Sequi vero necessitatibus deleniti libero soluta accusantium velit.</p>'
                      slug: nesciunt-est-culpa-odio-possimus-ut
                    -
                      id: 114
                      title: 'Totam excepturi officiis sit excepturi dolorem animi quia corporis.'
                      image: 'http://local.drone/images/blog/1623221514.jpg'
                      excerpt: 'Illum facere unde optio eligendi iusto aut voluptatem. Tempore ut cum sunt numquam vitae.'
                      description: '<p>Nulla voluptate facilis reprehenderit fugiat fugiat. Rem et quia est et quae nesciunt dicta consectetur. Nesciunt ipsa sit libero non et amet eligendi. Repellendus consequuntur expedita quaerat expedita sint dolores sapiente. Alias eum eum sint cum et voluptates. Beatae voluptatem nostrum aperiam suscipit. Necessitatibus ad id sit hic rerum culpa ratione.</p>'
                      slug: amet-qui-sed-aut-asperiores
                    -
                      id: 115
                      title: 'Praesentium omnis soluta modi magni facere cum.'
                      image: 'http://local.drone/images/blog/1623221514.jpg'
                      excerpt: 'Occaecati voluptas unde vitae. Totam explicabo rerum consequuntur.'
                      description: '<p>Distinctio error quia quos aut. Molestiae neque ea autem et autem facere. In et quo sint ut facere omnis saepe maxime. Commodi nostrum delectus quos autem cum qui doloremque. Ullam tenetur maiores rerum voluptatem. Cum dolor sit et iusto suscipit ipsum est. Modi impedit aut unde voluptatem id molestias ut. Facere non et nesciunt ea. A necessitatibus corrupti aut quia voluptatem labore. Ut at odio voluptas ab.</p>'
                      slug: adipisci-ab-nisi-dicta-laudantium
                    -
                      id: 117
                      title: 'Odio est nam inventore et explicabo a.'
                      image: 'http://local.drone/images/blog/1623221514.jpg'
                      excerpt: 'Ipsa ad architecto cum minus ut accusantium sapiente. Eum mollitia dignissimos corporis.'
                      description: '<p>Consequatur laborum voluptas dicta excepturi qui. Dolorum ab id perspiciatis perspiciatis. Et nobis ex rerum quaerat eligendi consequatur. Voluptate incidunt et itaque qui aut. Itaque ut animi est omnis sint. Voluptatem aut voluptatem dolorem aliquid. Veritatis aut eligendi est culpa molestias delectus. Recusandae eligendi aut aut cupiditate. Quam placeat quis illo porro id. Voluptatem voluptatem totam impedit et sint vel nihil porro. Aut minus mollitia rem facilis ex fuga. Optio possimus molestiae voluptatem doloremque exercitationem reiciendis quibusdam. Id voluptas assumenda aut nisi rem placeat.</p>'
                      slug: vel-magnam-iusto-explicabo-deleniti-veniam-dignissimos
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'featured blog post fetch successfully'
                  data:
                    type: array
                    example:
                      -
                        id: 113
                        title: 'Placeat rerum tempore est explicabo debitis repellendus.'
                        image: 'http://local.drone/images/blog/1623221514.jpg'
                        excerpt: 'Sapiente magnam dolores illum totam qui. Velit sed est aliquam sed.'
                        description: '<p>Error est quo cumque. Amet est qui iste dolor laborum. Quia asperiores assumenda labore dolor. Ut sed nulla et quasi et voluptatem aut. Illum incidunt libero ratione et nobis nulla. Fugit quisquam et dolores occaecati dolorem. Ut consectetur laboriosam voluptate sit nesciunt accusantium. Molestiae voluptatem iste omnis culpa culpa. Fugit est ipsa voluptas omnis odio ut hic. Dolores aut ut reprehenderit numquam sunt. Sequi vero necessitatibus deleniti libero soluta accusantium velit.</p>'
                        slug: nesciunt-est-culpa-odio-possimus-ut
                      -
                        id: 114
                        title: 'Totam excepturi officiis sit excepturi dolorem animi quia corporis.'
                        image: 'http://local.drone/images/blog/1623221514.jpg'
                        excerpt: 'Illum facere unde optio eligendi iusto aut voluptatem. Tempore ut cum sunt numquam vitae.'
                        description: '<p>Nulla voluptate facilis reprehenderit fugiat fugiat. Rem et quia est et quae nesciunt dicta consectetur. Nesciunt ipsa sit libero non et amet eligendi. Repellendus consequuntur expedita quaerat expedita sint dolores sapiente. Alias eum eum sint cum et voluptates. Beatae voluptatem nostrum aperiam suscipit. Necessitatibus ad id sit hic rerum culpa ratione.</p>'
                        slug: amet-qui-sed-aut-asperiores
                      -
                        id: 115
                        title: 'Praesentium omnis soluta modi magni facere cum.'
                        image: 'http://local.drone/images/blog/1623221514.jpg'
                        excerpt: 'Occaecati voluptas unde vitae. Totam explicabo rerum consequuntur.'
                        description: '<p>Distinctio error quia quos aut. Molestiae neque ea autem et autem facere. In et quo sint ut facere omnis saepe maxime. Commodi nostrum delectus quos autem cum qui doloremque. Ullam tenetur maiores rerum voluptatem. Cum dolor sit et iusto suscipit ipsum est. Modi impedit aut unde voluptatem id molestias ut. Facere non et nesciunt ea. A necessitatibus corrupti aut quia voluptatem labore. Ut at odio voluptas ab.</p>'
                        slug: adipisci-ab-nisi-dicta-laudantium
                      -
                        id: 117
                        title: 'Odio est nam inventore et explicabo a.'
                        image: 'http://local.drone/images/blog/1623221514.jpg'
                        excerpt: 'Ipsa ad architecto cum minus ut accusantium sapiente. Eum mollitia dignissimos corporis.'
                        description: '<p>Consequatur laborum voluptas dicta excepturi qui. Dolorum ab id perspiciatis perspiciatis. Et nobis ex rerum quaerat eligendi consequatur. Voluptate incidunt et itaque qui aut. Itaque ut animi est omnis sint. Voluptatem aut voluptatem dolorem aliquid. Veritatis aut eligendi est culpa molestias delectus. Recusandae eligendi aut aut cupiditate. Quam placeat quis illo porro id. Voluptatem voluptatem totam impedit et sint vel nihil porro. Aut minus mollitia rem facilis ex fuga. Optio possimus molestiae voluptatem doloremque exercitationem reiciendis quibusdam. Id voluptas assumenda aut nisi rem placeat.</p>'
                        slug: vel-magnam-iusto-explicabo-deleniti-veniam-dignissimos
                    items:
                      type: object
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'featured blog post not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'featured blog post not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/home/pilot-feature:
    get:
      summary: 'Home Featured pilot Profile.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response recent featured blog post not found!"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'featured Profile fetch successfully'
                  data:
                    -
                      pilot_profile_id: 691
                      user_id: 184
                      name: 'Devin Ullrich'
                      title: itaque
                      slug: omnis-ad-sunt-consequatur-dolorum-aut-quia-quis
                      short_description: '<p>magnam</p>'
                      image: 'http://local.drone/pilotseed.png'
                      skills: 'Videography,Video Editing'
                      no_of_jobs: 10
                      hourly_rate: 10
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'featured Profile fetch successfully'
                  data:
                    type: array
                    example:
                      -
                        pilot_profile_id: 691
                        user_id: 184
                        name: 'Devin Ullrich'
                        title: itaque
                        slug: omnis-ad-sunt-consequatur-dolorum-aut-quia-quis
                        short_description: '<p>magnam</p>'
                        image: 'http://local.drone/pilotseed.png'
                        skills: 'Videography,Video Editing'
                        no_of_jobs: 10
                        hourly_rate: 10
                    items:
                      type: object
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'featured Profile not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'featured Profile not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/photo-galleries:
    get:
      summary: 'Photo Gallery .'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response Photo Gallery not found!\n\n\n<aside class=\"notice\">basepath/api/v1/photos.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'Photo Gallery fetch successfully'
                  data:
                    -
                      id: 3
                      image: 'http://local.drone/images/photo_gallery/3k8791nkN6kLPc1Gi0Jkrzkkn8FKFuhy52cg4vO4.png'
                    -
                      id: 2
                      image: 'http://local.drone/images/photo_gallery/iy1mHbuymOzFzpintRtNBRxt0p30j7PANPb1PIDb.png'
                    -
                      id: 1
                      image: 'http://local.drone/images/photo_gallery/McDYCXQCSkR9YMyGB5AxDSldMxWobIi9SEb5M4b5.png'
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Photo Gallery fetch successfully'
                  data:
                    type: array
                    example:
                      -
                        id: 3
                        image: 'http://local.drone/images/photo_gallery/3k8791nkN6kLPc1Gi0Jkrzkkn8FKFuhy52cg4vO4.png'
                      -
                        id: 2
                        image: 'http://local.drone/images/photo_gallery/iy1mHbuymOzFzpintRtNBRxt0p30j7PANPb1PIDb.png'
                      -
                        id: 1
                        image: 'http://local.drone/images/photo_gallery/McDYCXQCSkR9YMyGB5AxDSldMxWobIi9SEb5M4b5.png'
                    items:
                      type: object
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'Photo Gallery not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Photo Gallery not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/contact-us:
    post:
      summary: 'Contact-us Api.'
      description: "Method -> POST\nIf everything is okay,you'll get a `200` OK response.\n\nOtherwise, the request will fail with a `403` error, Required Field missing!\n\n\n<aside class=\"notice\">basepath/api/v1/contact-us.</aside>"
      parameters:
        -
          in: query
          name: '?name'
          description: 'Required Example ?name= some name Example John.'
          example: mollitia
          required: false
          schema:
            type: string
            description: 'Required Example ?name= some name Example John.'
            example: mollitia
        -
          in: query
          name: '?email'
          description: 'Required Example ?email=emailId Example john@domain.com'
          example: minima
          required: false
          schema:
            type: string
            description: 'Required Example ?email=emailId Example john@domain.com'
            example: minima
        -
          in: query
          name: '?mesage'
          description: 'Example ?message=some text Example Hi this is John wanted to know something....'
          example: eius
          required: false
          schema:
            type: string
            description: 'Example ?message=some text Example Hi this is John wanted to know something....'
            example: eius
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'Successfully news subscribed'
                  data:
                    name: Test
                    email: test@gmail.com
                    message: 'this is test message'
                    updated_at: '2021-07-26 09:53:10'
                    created_at: '2021-07-26 09:53:10'
                    id: 1
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Successfully news subscribed'
                  data:
                    type: object
                    example:
                      name: Test
                      email: test@gmail.com
                      message: 'this is test message'
                      updated_at: '2021-07-26 09:53:10'
                      created_at: '2021-07-26 09:53:10'
                      id: 1
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 400
                  message: 'Required Field missing'
                  data:
                    name:
                      - 'The name field is required.'
                    email:
                      - 'The email field is required.'
                properties:
                  stausCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'Required Field missing'
                  data:
                    type: object
                    example:
                      name:
                        - 'The name field is required.'
                      email:
                        - 'The email field is required.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: nam
                email:
                  type: string
                  description: ''
                  example: consequuntur
              required:
                - name
                - email
      security: []
  /api/v1/gear-reviews-all:
    get:
      summary: 'Gear Reviews .'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response Gear reviews not found!\n\n\n<aside class=\"notice\">basepath/api/v1/gear-reviews-all.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"stausCode\": 200,\n\"message\": \"Gear reviews fetch successfully\",\n\"post_count\": 3\n\"data\": {\n\"current_page\": 1,\n\"data\": [\n{\n\"name\": \"Nell Ortiz\",\n\"video\": \"https://www.youtube.com/watch?v=TYaNfLLOLNY\",\n\"video_key\": \"TYaNfLLOLNY\"\n},\n{\n\"name\": \"Paula Melton\",\n\"video\": \"https://www.youtube.com/watch?v=65414321654\",\n\"video_key\": \"65414321654\"\n},\n{\n\"name\": \"Quin Garrison\",\n\"video\": \"https://www.youtube.com/watch?v=9nsZmvkRfj4\",\n\"video_key\": \"9nsZmvkRfj4\"\n}\n],\n\"first_page_url\": \"http://127.0.0.1:8000/api/v1/gear-reviews-all?page=1\",\n\"from\": 1,\n\"next_page_url\": null,\n\"path\": \"http://127.0.0.1:8000/api/v1/gear-reviews-all\",\n\"per_page\": 10,\n\"prev_page_url\": null,\n\"to\": 3\n}\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'Gear reviews not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Gear reviews not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/country:
    get:
      summary: 'Country Api .'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response Country not found!\n\n\n<aside class=\"notice\">basepath/api/v1/country.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'Country fetch successfully'
                  data:
                    -
                      id: 244
                      name: 'Aaland Islands'
                    -
                      id: 1
                      name: Afghanistan
                    -
                      id: 2
                      name: Albania
                    -
                      id: 3
                      name: Algeria
                    -
                      id: 4
                      name: 'American Samoa'
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'Country fetch successfully'
                  data:
                    type: array
                    example:
                      -
                        id: 244
                        name: 'Aaland Islands'
                      -
                        id: 1
                        name: Afghanistan
                      -
                        id: 2
                        name: Albania
                      -
                        id: 3
                        name: Algeria
                      -
                        id: 4
                        name: 'American Samoa'
                    items:
                      type: object
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'Country not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Country not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/city:
    get:
      summary: 'Get All Distinct City .'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response City not found!\n\n\n<aside class=\"notice\">basepath/api/v1/states.</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'City fetch successfully'
                  data:
                    -
                      city: 'Magnam in ad ut null'
                    -
                      city: chhapra
                    -
                      city: 'Iste omnis irure in'
                    -
                      city: 'Ullam impedit ea au'
                    -
                      city: 'Incididunt laborum'
                    -
                      city: 'Ullam omnis pariatur'
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'City fetch successfully'
                  data:
                    type: array
                    example:
                      -
                        city: 'Magnam in ad ut null'
                      -
                        city: chhapra
                      -
                        city: 'Iste omnis irure in'
                      -
                        city: 'Ullam impedit ea au'
                      -
                        city: 'Incididunt laborum'
                      -
                        city: 'Ullam omnis pariatur'
                    items:
                      type: object
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'City not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'City not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/v1/category/pilot-feature:
    get:
      summary: 'category pilot feature.'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response recent featured blog post not found!"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'featured Profile fetch successfully'
                  data:
                    -
                      pilot_profile_id: 691
                      user_id: 184
                      name: 'Devin Ullrich'
                      title: itaque
                      slug: omnis-ad-sunt-consequatur-dolorum-aut-quia-quis
                      short_description: '<p>magnam</p>'
                      image: 'http://local.drone/pilotseed.png'
                      skills: 'Videography,Video Editing'
                      no_of_jobs: 10
                      hourly_rate: 10
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'featured Profile fetch successfully'
                  data:
                    type: array
                    example:
                      -
                        pilot_profile_id: 691
                        user_id: 184
                        name: 'Devin Ullrich'
                        title: itaque
                        slug: omnis-ad-sunt-consequatur-dolorum-aut-quia-quis
                        short_description: '<p>magnam</p>'
                        image: 'http://local.drone/pilotseed.png'
                        skills: 'Videography,Video Editing'
                        no_of_jobs: 10
                        hourly_rate: 10
                    items:
                      type: object
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'featured Profile not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'featured Profile not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  '/api/v1/pilot-profile/portfolio/{id}':
    get:
      summary: 'Pilot Profile .'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response Pilot profile not found!"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"stausCode\": 200,\n\"message\": \"pilot Gallery fetch successfully\",\n\"data\": {\n{\n\"image\": \"http://local.drone/images/2/gallery/N3SpeoyKRNAp1vjxrR82UqmOmherU7PW71vLyFCE.png\"\n},\n{\n\"image\": \"http://local.drone/images/2/gallery/FXe169kbW6XXUMJPxF9BzRPk6mvz3KJpxQcDovFE.png\"\n}\n}\n}"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'Pilot profile not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Pilot profile not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the user/pilot.'
                  example: 1
              required:
                - id
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the portfolio.'
        example: magnam
        required: true
        schema:
          type: string
  '/api/v1/pilot-profile/{slug}':
    get:
      summary: 'Pilot Profile .'
      description: "If everything is okay, you'll get a `200` OK response with data.\n\nOtherwise, the request will fail with a `404` error, and a response Pilot profile not found!"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'pilot profile fetch successfully'
                  data:
                    profile:
                      id: 2
                      title: 'Minim nostrum molest'
                      slug: lionel-moss
                      image: 'http://local.drone/images/2/profile/QB5nBYkIOxqp79Xg2jGb0BhCYh5oJASKY10g7xQ9.png'
                      description: '<p>Logn&nbsp;description</p>'
                      short_description: '<p>short description</p>'
                      is_certified: 'No'
                      travel_option: 'No'
                      is_featured: 'No'
                      metatitle: 'Occaecat vel qui dol'
                      metakeyword: 'Labore ullamco sint'
                      metadescription: '<p>Meta description</p>'
                    skills:
                      -
                        id: 1
                        name: Skill-1
                      -
                        id: 2
                        name: Skill-2
                    equipment:
                      -
                        title: 'Adipisci eiusmod ven'
                        image: 'http://local.drone/images/2/equipments/2rshlAHFtllnKz65LK3p2X6Tm6Mm8Z8m8uAxe5yK.png'
                        manufacturer: 'Ullamco Nam itaque m'
                      -
                        title: 'Nesciunt officia a'
                        image: 'http://local.drone/images/2/equipments/13fjfcbJ2Ww5gLCAsVTY1wbsY9MZ0jQJLWjLbAwD.png'
                        manufacturer: 'Et id explicabo Lab'
                    address:
                      -
                        address_line1: '47 South Old Drive'
                        address_line2: 'Ab deserunt et maior'
                        country: 'United Kingdom'
                        state: Anglesey
                        city: 'Magnam in ad ut null'
                        zip: '92748'
                      -
                        address_line1: '156 North Rocky New Road'
                        address_line2: 'Quo vel similique ut'
                        country: India
                        state: Bihar
                        city: 'Eaque eum inventore'
                        zip: '841301'
                    video:
                      -
                        type: Youtube
                        video: 'https://www.youtube.com/watch?v=9nsZmvkRfj4'
                        video_key: 9nsZmvkRfj4
                      -
                        type: Vimeo
                        video: 'http://vimeo.com/channels/11111111'
                        video_key: '11111111'
                    gallery:
                      -
                        image: 'http://local.drone/images/2/gallery/N3SpeoyKRNAp1vjxrR82UqmOmherU7PW71vLyFCE.png'
                      -
                        image: 'http://local.drone/images/2/gallery/FXe169kbW6XXUMJPxF9BzRPk6mvz3KJpxQcDovFE.png'
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'pilot profile fetch successfully'
                  data:
                    type: object
                    example:
                      profile:
                        id: 2
                        title: 'Minim nostrum molest'
                        slug: lionel-moss
                        image: 'http://local.drone/images/2/profile/QB5nBYkIOxqp79Xg2jGb0BhCYh5oJASKY10g7xQ9.png'
                        description: '<p>Logn&nbsp;description</p>'
                        short_description: '<p>short description</p>'
                        is_certified: 'No'
                        travel_option: 'No'
                        is_featured: 'No'
                        metatitle: 'Occaecat vel qui dol'
                        metakeyword: 'Labore ullamco sint'
                        metadescription: '<p>Meta description</p>'
                      skills:
                        -
                          id: 1
                          name: Skill-1
                        -
                          id: 2
                          name: Skill-2
                      equipment:
                        -
                          title: 'Adipisci eiusmod ven'
                          image: 'http://local.drone/images/2/equipments/2rshlAHFtllnKz65LK3p2X6Tm6Mm8Z8m8uAxe5yK.png'
                          manufacturer: 'Ullamco Nam itaque m'
                        -
                          title: 'Nesciunt officia a'
                          image: 'http://local.drone/images/2/equipments/13fjfcbJ2Ww5gLCAsVTY1wbsY9MZ0jQJLWjLbAwD.png'
                          manufacturer: 'Et id explicabo Lab'
                      address:
                        -
                          address_line1: '47 South Old Drive'
                          address_line2: 'Ab deserunt et maior'
                          country: 'United Kingdom'
                          state: Anglesey
                          city: 'Magnam in ad ut null'
                          zip: '92748'
                        -
                          address_line1: '156 North Rocky New Road'
                          address_line2: 'Quo vel similique ut'
                          country: India
                          state: Bihar
                          city: 'Eaque eum inventore'
                          zip: '841301'
                      video:
                        -
                          type: Youtube
                          video: 'https://www.youtube.com/watch?v=9nsZmvkRfj4'
                          video_key: 9nsZmvkRfj4
                        -
                          type: Vimeo
                          video: 'http://vimeo.com/channels/11111111'
                          video_key: '11111111'
                      gallery:
                        -
                          image: 'http://local.drone/images/2/gallery/N3SpeoyKRNAp1vjxrR82UqmOmherU7PW71vLyFCE.png'
                        -
                          image: 'http://local.drone/images/2/gallery/FXe169kbW6XXUMJPxF9BzRPk6mvz3KJpxQcDovFE.png'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 404
                  message: 'Pilot profile not found!'
                  data: []
                properties:
                  stausCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: 'Pilot profile not found!'
                  data:
                    type: array
                    example: []
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the user/pilot.'
                  example: 1
              required:
                - id
      security: []
    parameters:
      -
        in: path
        name: slug
        description: ''
        example: quo
        required: true
        schema:
          type: string
  /api/v1/home/blog:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  stausCode: 200
                  message: 'featured Category fetch successfully'
                  data:
                    category_1: 'Category 1'
                    category_1_title: 'Harum obcaecati qui'
                    category_1_title_slug: 'Fugiat doloremque te'
                    category_1_image: ''
                    category_1_short_descrption: 'Drones, otherwise known as UAVs (unmanned aerial vehicles). Oftentimes, people ask,'
                    category_1_blogs:
                      -
                        id: 11
                        title: 'Vel vel officia quo amet mollitia qui.'
                        image: 'http://thedroningcompany.1rise.com/dron/droningproject/images/blog/1623221514.jpg'
                        description: 'Voluptatem officiis omnis ipsa quo distinctio est. Inventore incidunt sed aut repellendus culpa ut. Enim ut quia consequatur. Consequatur sed accusantium sit omnis illum qui explicabo. Enim eos et est non omnis dolores ab. Recusandae aut quis quam unde possimus tenetur. Autem fugiat et pariatur voluptas id qui quos.'
                        slug: dolore-nihil-qui-numquam-dolorum-possimus-suscipit-accusantium-quam
                        meta_keyword: qui
                        meta_description: 'Quas sint quasi omnis et expedita. Ipsum facere fugit qui. Iusto maxime eos vitae sapiente veniam eos. Maxime provident ex natus rerum. Rerum in ut neque id qui.'
                        status: '1'
                        no_of_view: 4626315
                        created_at: '2021-08-22 05:27:35'
                        updated_at: '2021-08-22 05:27:35'
                        deleted_at: null
                        excerpt: 'Non doloribus odit voluptatem dolores eos voluptatum earum. Tempore magnam sapiente ipsum eius enim odio facilis.'
                        is_featured: 0
                      -
                        id: 12
                        title: 'Quia quisquam voluptatem et libero.'
                        image: 'http://thedroningcompany.1rise.com/dron/droningproject/images/blog/1623221514.jpg'
                        description: 'Provident quisquam est et est vitae voluptatem. Veniam rerum voluptas laborum aliquid assumenda nihil. Possimus et provident quae necessitatibus ipsum ea. Exercitationem est natus saepe corrupti. Ad commodi dolor aut minus et sunt. Dicta qui error fugiat ea mollitia. Aliquam quae laborum necessitatibus qui facere est. Quo nulla quo architecto sit aliquid. Dolores iure quod aliquid eius consequuntur ratione. Nam odio nostrum aliquid et dolorem vel suscipit. Omnis et cumque nam harum.'
                        slug: excepturi-esse-nisi-consequuntur-consequatur-voluptas-impedit-fugiat-aut
                        meta_keyword: debitis
                        meta_description: 'Sit eum ad et cum quaerat. Aspernatur ab maxime veniam quaerat eos non voluptatem ipsum. Voluptatem nihil est omnis est tenetur molestiae ea.'
                        status: '0'
                        no_of_view: 0
                        created_at: '2021-08-22 05:27:35'
                        updated_at: '2021-08-22 05:27:35'
                        deleted_at: null
                        excerpt: 'Aut vel voluptate cupiditate id veniam deserunt. Nihil impedit recusandae libero consequuntur eaque explicabo est.'
                        is_featured: 0
                    category_2: 'Category 2'
                    category_2_title: 'Harum obcaecati qui'
                    category_2_title_slug: 'Fugiat doloremque te'
                    category_2_image: ''
                    category_2_short_descrption: 'Drones, otherwise known as UAVs (unmanned aerial vehicles). Oftentimes, people ask,'
                    category_2_blogs:
                      -
                        id: 2
                        title: 'Et sint facilis enim tempore.'
                        image: 'http://thedroningcompany.1rise.com/dron/droningproject/images/blog/1623221514.jpg'
                        description: 'Temporibus temporibus voluptate est blanditiis similique necessitatibus soluta fuga. Enim qui in voluptatibus officiis. Eum et aut dolor dignissimos atque quo. Rerum nisi sit occaecati omnis quia eum earum. Nemo dolores quis ea laboriosam et quisquam. Voluptates labore molestiae et rem voluptatem. Et enim reiciendis modi. Cumque totam praesentium possimus dolores culpa quidem. Iste eum ad modi in dolor itaque. Voluptatibus velit repudiandae accusantium qui est at. Et maxime ea quam est nam cupiditate minus.'
                        slug: expedita-sunt-consequatur-ea-quasi-dolorem
                        meta_keyword: ut
                        meta_description: 'Neque assumenda eaque ipsam optio illo. Nihil quia blanditiis ut vitae eius.'
                        status: '1'
                        no_of_view: 83
                        created_at: '2021-08-22 05:27:35'
                        updated_at: '2021-08-22 05:27:35'
                        deleted_at: null
                        excerpt: 'Assumenda sit quisquam omnis possimus. Reprehenderit in suscipit accusamus quibusdam voluptatum.'
                        is_featured: 0
                      -
                        id: 5
                        title: 'Iure consequatur aliquam laborum animi voluptas.'
                        image: 'http://thedroningcompany.1rise.com/dron/droningproject/images/blog/1623221514.jpg'
                        description: 'Est optio eos rerum rerum eum ullam. Iste et accusantium praesentium eos minima neque a. Non quos et quo hic blanditiis tempore debitis. Nemo nihil numquam ut ut sint ea itaque. Magni deserunt aliquid reiciendis et quia ut. Exercitationem placeat dolores beatae sunt suscipit. Adipisci aut distinctio debitis et est aut. Repellendus illum laudantium praesentium sequi. Impedit accusantium minima nihil dicta voluptatem.'
                        slug: quia-id-impedit-nihil-minus
                        meta_keyword: sit
                        meta_description: 'Fugiat unde blanditiis ullam libero reprehenderit ad. Molestiae dolorum placeat mollitia et quo. Sunt qui pariatur ad autem vitae. Quis quod est consequatur doloremque deserunt dignissimos.'
                        status: '1'
                        no_of_view: 99
                        created_at: '2021-08-22 05:27:35'
                        updated_at: '2021-08-22 05:27:35'
                        deleted_at: null
                        excerpt: 'Quia incidunt accusantium quo porro earum. Et voluptas distinctio ad est est.'
                        is_featured: 0
                properties:
                  stausCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: 'featured Category fetch successfully'
                  data:
                    type: object
                    example:
                      category_1: 'Category 1'
                      category_1_title: 'Harum obcaecati qui'
                      category_1_title_slug: 'Fugiat doloremque te'
                      category_1_image: ''
                      category_1_short_descrption: 'Drones, otherwise known as UAVs (unmanned aerial vehicles). Oftentimes, people ask,'
                      category_1_blogs:
                        -
                          id: 11
                          title: 'Vel vel officia quo amet mollitia qui.'
                          image: 'http://thedroningcompany.1rise.com/dron/droningproject/images/blog/1623221514.jpg'
                          description: 'Voluptatem officiis omnis ipsa quo distinctio est. Inventore incidunt sed aut repellendus culpa ut. Enim ut quia consequatur. Consequatur sed accusantium sit omnis illum qui explicabo. Enim eos et est non omnis dolores ab. Recusandae aut quis quam unde possimus tenetur. Autem fugiat et pariatur voluptas id qui quos.'
                          slug: dolore-nihil-qui-numquam-dolorum-possimus-suscipit-accusantium-quam
                          meta_keyword: qui
                          meta_description: 'Quas sint quasi omnis et expedita. Ipsum facere fugit qui. Iusto maxime eos vitae sapiente veniam eos. Maxime provident ex natus rerum. Rerum in ut neque id qui.'
                          status: '1'
                          no_of_view: 4626315
                          created_at: '2021-08-22 05:27:35'
                          updated_at: '2021-08-22 05:27:35'
                          deleted_at: null
                          excerpt: 'Non doloribus odit voluptatem dolores eos voluptatum earum. Tempore magnam sapiente ipsum eius enim odio facilis.'
                          is_featured: 0
                        -
                          id: 12
                          title: 'Quia quisquam voluptatem et libero.'
                          image: 'http://thedroningcompany.1rise.com/dron/droningproject/images/blog/1623221514.jpg'
                          description: 'Provident quisquam est et est vitae voluptatem. Veniam rerum voluptas laborum aliquid assumenda nihil. Possimus et provident quae necessitatibus ipsum ea. Exercitationem est natus saepe corrupti. Ad commodi dolor aut minus et sunt. Dicta qui error fugiat ea mollitia. Aliquam quae laborum necessitatibus qui facere est. Quo nulla quo architecto sit aliquid. Dolores iure quod aliquid eius consequuntur ratione. Nam odio nostrum aliquid et dolorem vel suscipit. Omnis et cumque nam harum.'
                          slug: excepturi-esse-nisi-consequuntur-consequatur-voluptas-impedit-fugiat-aut
                          meta_keyword: debitis
                          meta_description: 'Sit eum ad et cum quaerat. Aspernatur ab maxime veniam quaerat eos non voluptatem ipsum. Voluptatem nihil est omnis est tenetur molestiae ea.'
                          status: '0'
[...]
